In [1]:
import mysql.connector as connector

In [2]:
dbconfig = {
    "user" : "CML",
    "password" : "1234",
    "host" : "localhost",
    "database" : "littlelemondb"
}

In [3]:
connection = connector.connect(**dbconfig)

In [4]:
show_tables_query = "SHOW tables"

In [5]:
cursor = connection.cursor(buffered=True)

In [6]:
cursor.execute(show_tables_query)
results = cursor.fetchall()

In [7]:
print(results)

[('bookings',), ('customers',), ('menuitems',), ('menus',), ('order delivery status',), ('orders',), ('ordersview',), ('staff information',)]

In [8]:
describe_query = "DESCRIBE customers"
cursor.execute(describe_query)
results = cursor.fetchall()

In [9]:
print(results)

[('CustomerID', 'int', 'NO', 'PRI', None, ''), ('FirstName', 'varchar(45)', 'YES', '', None, ''), ('LastName', 'varchar(45)', 'YES', '', None, ''), ('Phone', 'int', 'YES', '', None, ''), ('Email', 'varchar(45)', 'YES', '', None, '')]

In [10]:
describe_query = "DESCRIBE orders"
cursor.execute(describe_query)
results = cursor.fetchall()

In [11]:
print(results)

[('OrderID', 'int', 'NO', 'PRI', None, ''), ('OrderDate', 'datetime', 'YES', '', None, ''), ('CustomerID', 'int', 'YES', 'MUL', None, ''), ('BookingID', 'int', 'YES', 'MUL', None, ''), ('StatusID', 'int', 'YES', 'MUL', None, ''), ('MenuID', 'int', 'YES', 'MUL', None, ''), ('Quantity', 'int', 'YES', '', None, ''), ('StaffID', 'int', 'YES', 'MUL', None, ''), ('TableNo', 'int', 'YES', '', None, ''), ('TotalCost', 'decimal(10,0)', 'YES', '', None, '')]

In [12]:
promo_join_query = """SELECT
    c.FirstName,
    c.LastName,
    c.Phone,
    c.Email,
    o.TotalCost
FROM
    orders o
INNER JOIN
    customers c
ON
    o.CustomerID = c.CustomerID
WHERE
    o.TotalCost >= 60;
"""

In [13]:
cursor.execute(promo_join_query)
results = cursor.fetchall()
cols = cursor.column_names
print(cols)
for customer in results:
    print(customer)

('FirstName', 'LastName', 'Phone', 'Email', 'TotalCost')
('Jane', 'Smith', 901100112, 'jane.smith@example.com', Decimal('60'))
('Alice', 'Johnson', 901100113, 'alice.johnson@example.com', Decimal('100'))
('Bob', 'Brown', 901100114, 'bob.brown@example.com', Decimal('80'))